@use "../abstracts" as *;

.components-header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  text-align: center;
  margin-top: 40px;
  @include respond(small, min) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: unset;
  }
  @include respond(large, min) {
    margin-top: 64px;
  }
}

#extensions-list {
  max-width: 1170px;
  margin: 0 auto;
  list-style: none;
  display: grid;
  gap: 12px;
  margin-top: 40px;
  @include respond(small, min) {
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
  }
  @include respond(large, min) {
    grid-template-columns: repeat(3, 1fr);
  }
}
